on:
  workflow_call:
    secrets:
      aws_access_key_id:
        required: true

      aws_secret_access_key:
        required: true

      rds_cert_1:
        required: false

      rds_cert_2:
        required: false

    inputs:
      ecr_repository:
        required: true
        type: string

      dockerfile_path:
        required: false
        type: string
        default: './Dockerfile'

jobs:
  Build:
    name: Build application 
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ inputs.ecr_repository }} 
          IMAGE_TAG: ${{ github.sha }}
          RDS_CERT_1: ${{ secrets.rds_cert_1 }}
          RDS_CERT_2: ${{ secrets.rds_cert_2 }}
        run: |
          echo "${RDS_CERT_1}${RDS_CERT_2}" | base64 -d > rds-combined-ca-bundle.pem
          docker build -f ${{ inputs.dockerfile_path }} -t $ECR_REGISTRY/$ECR_REPOSITORY:latest -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY --all-tags
          echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"

      - name: Logout of Amazon ECR
        if: always()
        run: docker logout ${{ steps.login-ecr.outputs.registry }}

      - name: Slack Notification
        if: always()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_COLOR: ${{ job.status }}
          SLACK_MESSAGE: 'Build and push to ECR'
