on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: |
          yarn
          yarn lint

    SlackNotification:
      name: Send slack notification

      if: always()
      uses: ./.github/workflows/slack-notify.yml
      env:
        SLACK_COLOR: ${{ job.status }}
        SLACK_MESSAGE: 'NodeJS lint'
