on:
  workflow_call:
    secrets:
      gh_token:
        required: true

jobs:
  tests:
    runs-on: ubuntu-latest    
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          scope: '@plughacker'
          registry-url: https://npm.pkg.github.com/
          node-version: 14.x
      - run: yarn
        env:
          NODE_AUTH_TOKEN: ${{ secrets.gh_token }}
      - run: yarn test --passWithNoTests
        env:
          NODE_AUTH_TOKEN: ${{ secrets.gh_token }}
