on:
  workflow_call:

jobs:
  SlackNotification:
      runs-on: ubuntu-latest
      steps:
        - name: Notify Slack on failure
          id: slack
          if: ${{ failure() }}
          uses: act10ns/slack@v1
          env:
            SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          with:
            config: .github/config/slack.yml
            status: ${{ job.status }}
