on:
  workflow_call:
    secrets:
      gh_token:
        required: true

      git_ssh_key:
        required: true
      
      aws_access_key_id:
        required: true

      aws_secret_access_key:
        required: true

    inputs:
      git_repository:
        required: true
        type: string

      git_repository_owner:
        required: true
        type: string

      tg_working_dir:
        required: true
        type: string

env:
  tf_version: '1.0.6'
  tg_version: '0.36.7'
  tg_working_dir: ${{ inputs.tg_working_dir }}
  git_repository: ${{ inputs.git_repository }}
  git_repository_owner: ${{ inputs.git_repository_owner }}

jobs:
  terragrunt:
    name: Terragrunt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout private tools
        uses: actions/checkout@v3
        with:
          repository: ${{ env.git_repository }}
          token: ${{ secrets.gh_token }}
          ref: main

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: us-east-1

      - name: Terragrunt init
        uses: nulldutra/terragrunt-github-action@main
        with:
          tf_version: 1.0.6
          tg_version: 0.36.7
          tg_command: 'init'
          tg_working_dir: ${{ env.tg_working_dir }}
          git_ssh_key: ${{ secrets.git_ssh_key }}
        env:
          TF_VAR_container_revision: $(date +%d-%m-%Y-%s)
